Lexer.hs
Lexer.hi
Lexer.o
Stdout.hi
Stdout.o 
Grammar.hs 
Grammar.hi 
Grammar.o 
Context.hi
Context.o
Expresiones.hi
Expresiones.o
Instrucciones.hi
Instrucciones.o
Programa.hi
Programa.o
main.hi 
main.o 
retina

#########
#Pablo usa estos
p.rtn
k.rtn
